<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
    <h2>About</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, quaerat laboriosam veniam itaque laudantium, deserunt ex dolorum maiores quis, molestias reprehenderit doloremque quos quam debitis animi expedita rem sunt tempora. Earum alias culpa deleniti amet temporibus veritatis ipsa rem. Officiis laudantium, in perferendis reprehenderit sapiente optio. Cupiditate molestias magni itaque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, quaerat laboriosam veniam itaque laudantium, deserunt ex dolorum maiores quis, molestias reprehenderit doloremque quos quam debitis animi expedita rem sunt tempora. Earum alias culpa deleniti amet temporibus veritatis ipsa rem. Officiis laudantium, in perferendis reprehenderit sapiente optio. Cupiditate molestias magni itaque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, quaerat laboriosam veniam itaque laudantium, deserunt ex dolorum maiores quis, molestias reprehenderit doloremque quos quam debitis animi expedita rem sunt tempora. Earum alias culpa deleniti amet temporibus veritatis ipsa rem. Officiis laudantium, in perferendis reprehenderit sapiente optio. Cupiditate molestias magni itaque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, quaerat laboriosam veniam itaque laudantium, deserunt ex dolorum maiores quis, molestias reprehenderit doloremque quos quam debitis animi expedita rem sunt tempora. Earum alias culpa deleniti amet temporibus veritatis ipsa rem. Officiis laudantium, in perferendis reprehenderit sapiente optio. Cupiditate molestias magni itaque.</p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>